#questions{
	float: right;
	width: 45%;	
	background:transparent;
	margin: 0;
	padding: 0;
	color: #348793;
}
#query{
	color: darkblue;
	background:#222222; 
}
#cmt{
	background:#f4f4f4;
}

textarea{
	width: 70%;
	font:sans-serif;
}

#feeds{
	color: green;
	background:white;
	width: 70%;
}